:root {
  --outline-color: hsl(343deg, 95%, 55%);
}

.skin-light {
  --outline-color: hsl(343deg, 95%, 55%);
}

.skin-medium {
  --outline-color: hsl(343deg, 95%, 55%);
}

.skin-dark {
  --outline-color: hsl(350deg, 73%, 77%);
}

* {
  accent-color: hsl(343deg, 95%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
figure,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
address {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.3125rem;
}

h1 {
  font-size: 4.1875rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.3125rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.3125rem;
  margin-bottom: 0.25rem;
}

p.center {
  text-align: center;
}

p:not(:only-of-type) {
  margin-bottom: 1rem;
}

p:not(:only-of-type):last-child {
  margin-bottom: 2rem;
}

*::selection {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(343deg, 95%, 55%);
}

abbr {
  cursor: help;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.3125rem;
    text-align: center;
  }
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1rem;
  }
}
@media (max-width: 374px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.3125rem;
  }
  p {
    font-size: 1rem;
  }
}
body {
  max-width: 2560px;
  margin-inline: auto;
}

.content-width-container {
  max-width: 1200px;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  .content-width-container {
    padding-inline: 1rem;
  }
}

.full-width-container {
  max-width: 1440px;
  margin-inline: auto;
}

@media (max-width: 500px) {
  .content-width-container {
    padding: 0 0.5rem;
  }
}
.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
@media (max-width: 500px) {
  .col-2 {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .col-2 figure,
  .col-2 picture {
    order: 2;
  }
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 500px) {
  .col-3 {
    grid-template-columns: 1fr;
  }
}

.justify-center {
  margin-inline: auto;
}
@media (max-width: 500px) {
  .justify-center {
    margin-inline: unset;
  }
}

.align-center {
  margin-block: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(0deg, 0%, 96%);
}

main {
  flex: 1;
}

section {
  padding: 4rem 0;
}
@media (max-width: 900px) {
  section {
    padding: 2rem 0;
  }
}
@media (max-width: 500px) {
  section {
    padding: 1rem 0;
  }
}

.skin-medium {
  background-color: hsl(187deg, 41%, 91%);
}

.site-header {
  background-color: hsl(185deg, 100%, 29%);
  color: hsl(0deg, 0%, 100%);
}
.site-header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
}
.site-header .branding {
  color: inherit;
  font-size: 3.125rem;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 900px) {
  .site-header .branding p {
    font-size: 1.75rem;
    max-width: 250px;
  }
}
@media (max-width: 500px) {
  .site-header .branding p {
    font-size: 1.3125rem;
  }
  .site-header .branding svg {
    height: 125px;
  }
}
@media (max-width: 374px) {
  .site-header .branding p {
    font-size: 1rem;
  }
  .site-header .branding svg {
    height: 110px;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: hsl(183deg, 100%, 21%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
}
@media (max-width: 900px) {
  .site-footer {
    font-size: 1rem;
  }
}
.site-footer .footer-content {
  max-width: 1440px;
  margin-inline: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 2rem 1rem 2rem;
}
@media (max-width: 900px) {
  .site-footer .footer-content {
    grid-template-columns: 1fr;
    padding-inline: 1rem;
    gap: 2rem;
  }
  .site-footer .footer-content .justify-center {
    margin-inline: 0;
  }
}
.site-footer .footer-content .footer-column {
  margin-inline: auto;
}
.site-footer .footer-content a {
  color: hsl(0deg, 0%, 100%);
}
.site-footer h2 {
  font-size: 1.75rem;
}
@media (max-width: 500px) {
  .site-footer h2 {
    font-size: 1.3125rem;
  }
}
.site-footer h3 {
  margin-bottom: 0.25rem;
}
.site-footer .icon-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
  text-decoration: none;
}
.site-footer .icon-link:hover {
  color: hsl(348deg, 69%, 67%);
}
.site-footer .icon-link span {
  font-weight: 600;
}
.site-footer .icon-link svg {
  height: 2rem;
  width: 2rem;
}
.site-footer .some-links {
  display: flex;
  gap: 2rem;
}
.site-footer .some-links svg {
  height: 2.5rem;
}
.site-footer .some-links svg:hover {
  color: hsl(348deg, 69%, 67%);
}
.site-footer .newsletter-signup {
  margin-block: 1rem;
  max-width: toRem(500);
}
@media (max-width: 900px) {
  .site-footer .newsletter-signup .input-button-group input {
    font-size: 1rem;
  }
}
.site-footer .today {
  outline: solid 2px hsl(350deg, 73%, 77%);
  outline-offset: 2px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0.75em;
  padding: 0.5rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(180deg, 100%, 15%);
  font-size: 1rem;
}
.copyright p {
  cursor: default;
  font-size: inherit;
}
.copyright a {
  text-decoration: none;
  color: inherit;
}
.copyright a:hover, .copyright a:focus {
  text-decoration: underline;
  color: hsla(0deg, 0%, 100%, 0.7);
}

.main-nav .main-nav_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.main-nav .main-nav_link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.main-nav .main-nav_link:hover {
  background-color: hsla(0deg, 0%, 0%, 0.15);
}
.main-nav .main-nav_link.active {
  background-color: hsla(0deg, 0%, 0%, 0.25);
  cursor: default;
}
.main-nav .main-nav_link.avatar img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.menu-btn {
  display: none;
  color: hsla(0deg, 0%, 0%, 0.87);
  position: absolute;
}

.menu-close {
  display: none;
}

@media (max-width: 900px) {
  .menu-btn svg {
    height: 37px;
    width: 37px;
  }
  .menu-btn span {
    font-size: 1rem;
  }
}
@media (max-width: 1030px) {
  .menu-btn {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: hsla(0deg, 0%, 0%, 0);
    border: none;
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin-right: 1rem;
  }
  .menu-btn svg {
    width: 100%;
  }
  .menu-btn span {
    text-transform: uppercase;
    font-size: 1.3125rem;
  }
  .menu-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: hsl(350deg, 73%, 77%);
    background-color: hsla(0deg, 0%, 0%, 0);
    border: none;
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin: 2rem 2rem 2rem auto;
  }
  .menu-close svg {
    width: 100%;
  }
  .menu-close span {
    text-transform: uppercase;
    font-size: 1.3125rem;
  }
  .main-nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    inset: 0;
    overflow: auto;
    background-color: hsl(183deg, 100%, 21%);
    transform: translateX(-150%);
    transition: 150ms ease-in-out;
    z-index: 2;
  }
  .main-nav a {
    color: hsl(0deg, 0%, 100%);
    font-weight: 600;
    font-size: 1.3125rem;
  }
  .main-nav.open {
    transform: translateX(0);
  }
}
.card {
  overflow: hidden;
  background-color: hsl(0deg, 0%, 96%);
  display: flex;
  flex-direction: column;
}
.card:hover picture img {
  transform: scale(1.05);
}
.card picture {
  width: 100%;
  overflow: hidden;
}
.card picture img,
.card picture source {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  overflow: hidden;
  transition: 0.2s;
}
.card .card-body {
  position: relative;
  padding: 0.5rem 1rem;
  z-index: 1;
}
.card .card-body p {
  font-size: 1rem;
}
.card .category-tags {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0 0.5rem;
}
.card .category-tag {
  cursor: pointer;
  text-decoration: none;
  padding: 0.25em 1em;
  border-radius: 5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
}
.card .category-tag.event {
  background-color: hsl(343deg, 95%, 55%);
}
.card .category-tag.event:hover {
  background-color: hsl(344deg, 100%, 50%);
}
.card .category-tag.exhibition {
  background-color: hsl(185deg, 100%, 29%);
}
.card .category-tag.exhibition:hover {
  background-color: hsl(185deg, 100%, 27%);
}
.card .card-footer {
  margin-top: auto;
  padding: 0.5rem 1rem 1rem;
  text-align: end;
}
.card .card-footer a {
  color: inherit;
  font-size: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 0;
}

button,
.button {
  cursor: pointer;
}
button:disabled,
.button:disabled {
  cursor: not-allowed;
}

button,
.button {
  text-decoration: none;
}
button.contained,
.button.contained {
  border: 2px solid hsla(0deg, 0%, 0%, 0);
  border-radius: 100px;
  min-height: 2.5rem;
  min-width: 2.5rem;
  padding: 0.25rem 1.5rem;
  text-align: center;
  user-select: none;
}
button.contained.primary,
.button.contained.primary {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(185deg, 100%, 29%);
  border-color: hsl(185deg, 100%, 29%);
}
button.contained.primary:hover, button.contained.primary:focus,
.button.contained.primary:hover,
.button.contained.primary:focus {
  background-color: hsl(184deg, 100%, 24%);
  border-color: hsl(184deg, 100%, 24%);
}
button.contained.primary:active,
.button.contained.primary:active {
  background-color: hsl(183deg, 100%, 21%);
  border-color: hsl(183deg, 100%, 21%);
}
button.contained.primary:disabled,
.button.contained.primary:disabled {
  color: hsla(0deg, 0%, 0%, 0.38);
  background-color: hsl(186deg, 41%, 79%);
  border-color: hsl(186deg, 41%, 79%);
}
button.contained.accent,
.button.contained.accent {
  color: hsla(0deg, 0%, 0%, 0.87);
  background-color: hsl(343deg, 95%, 55%);
  border-color: hsl(343deg, 95%, 55%);
}
button.contained.accent:focus, button.contained.accent:hover,
.button.contained.accent:focus,
.button.contained.accent:hover {
  background-color: hsl(344deg, 100%, 50%);
  border-color: hsl(344deg, 100%, 50%);
}
button.contained.accent:disabled,
.button.contained.accent:disabled {
  color: hsla(0deg, 0%, 0%, 0.38);
  background-color: hsl(353deg, 100%, 90%);
}
button.contained.white,
.button.contained.white {
  color: hsla(0deg, 0%, 0%, 0.87);
  background-color: hsl(0deg, 0%, 100%);
  border-color: hsl(0deg, 0%, 100%);
}
button.contained.white:focus, button.contained.white:hover,
.button.contained.white:focus,
.button.contained.white:hover {
  background-color: hsl(0deg, 0%, 88%);
  border-color: hsl(0deg, 0%, 88%);
}
button.contained.white:disabled,
.button.contained.white:disabled {
  color: hsla(0deg, 0%, 0%, 0.38);
  background-color: hsl(353deg, 100%, 90%);
}
button.outlined,
.button.outlined {
  border-radius: 100px;
  max-width: 480px;
  min-height: 40px;
  min-width: 40px;
  padding: 5px 25px;
  text-align: center;
  user-select: none;
}
button.outlined.primary,
.button.outlined.primary {
  color: hsl(0deg, 0%, 100%);
  background-color: hsla(0deg, 0%, 0%, 0);
  border: 2px solid hsl(185deg, 100%, 29%);
}
button.outlined.primary:focus,
.button.outlined.primary:focus {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(185deg, 100%, 29%);
}
button.outlined.primary:disabled,
.button.outlined.primary:disabled {
  color: hsla(0deg, 0%, 0%, 0.38);
  background-color: hsla(0deg, 0%, 0%, 0);
  border: 2px solid hsl(186deg, 41%, 79%);
}
button.outlined.accent,
.button.outlined.accent {
  color: hsl(0deg, 0%, 100%);
  background-color: hsla(0deg, 0%, 0%, 0);
  border: 2px solid hsl(343deg, 95%, 55%);
}
button.outlined.accent:focus,
.button.outlined.accent:focus {
  color: hsla(0deg, 0%, 0%, 0.38);
  background-color: hsl(343deg, 95%, 55%);
}
button.outlined.accent:disabled,
.button.outlined.accent:disabled {
  color: hsla(0deg, 0%, 0%, 0.38);
  background-color: hsla(0deg, 0%, 0%, 0);
  border: 2px solid hsl(353deg, 100%, 90%);
}

form {
  margin-bottom: 1rem;
}
form p {
  margin-bottom: 1rem;
}
form a {
  font-size: 1.3125rem;
  display: block;
  text-align: center;
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.center-form form {
  max-width: 500px;
  margin-inline: auto;
  background-color: hsl(0deg, 0%, 98%);
  padding: 2rem;
}
.center-form h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-control label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.form-control button[type=submit] {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
.form-control a[href] {
  font-size: 1.3125rem;
  text-align: center;
  text-decoration: none;
}
.form-control a[href]:hover {
  text-decoration: underline;
}

th {
  text-align: start;
  width: fit-content;
}

figcaption {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  background-color: hsla(0deg, 0%, 0%, 0.15);
}

figure img,
figure source,
picture img,
picture source {
  width: 100%;
  object-fit: cover;
}
figure.square img,
figure.square source,
picture.square img,
picture.square source {
  aspect-ratio: 1;
}
figure.wide img,
figure.wide source,
picture.wide img,
picture.wide source {
  aspect-ratio: 16/9;
}
figure.tall img,
figure.tall source,
picture.tall img,
picture.tall source {
  aspect-ratio: 9/16;
}
figure.landscape img,
figure.landscape source,
picture.landscape img,
picture.landscape source {
  aspect-ratio: 4/3;
}
figure.portrait img,
figure.portrait source,
picture.portrait img,
picture.portrait source {
  aspect-ratio: 3/4;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.post-feed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.post {
  padding: 0;
  border: 1px solid #666666;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.post-header__avatar {
  object-fit: cover;
  border-radius: 50%;
  margin-inline-end: 1rem;
}

.post-header__actions {
  margin-left: auto;
}

.post-header__meta {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-header__author-name {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0 !important;
}

.post-header__created-date {
  font-size: 1.3125rem;
  padding-inline-start: 1rem;
  margin-bottom: 0 !important;
}

.post-content__title {
  padding-block-start: 1rem;
  padding-inline: 1rem;
}

.post-content__body {
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block-end: 1rem;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.post-footer__comments {
  margin-inline: auto;
}

.post-comment .post-comment {
  margin-inline-start: 1rem;
  border-left: 2px solid hotpink;
}
.post-comment .post-comment .post-comment {
  margin-inline-start: 2rem;
  border-left: 4px solid lime;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.profile-card {
  list-style-type: none;
  width: 150px;
  border: 1px solid hotpink;
}

.profile-card__avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  object-position: center;
  background-color: #eee;
}

.profile-card__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#toast-container {
  position: fixed;
  z-index: 9;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
}

.toast {
  position: relative;
  font-size: 1rem;
  color: hsla(0deg, 0%, 0%, 0.76);
  height: 1px;
  width: 1px;
  margin: -3px;
  overflow: hidden;
  border-width: 0;
  border-style: solid;
  padding: 0;
  clip: rect(0 0 0 0);
  opacity: 0;
}
.toast.info {
  background-color: hsl(199deg, 98%, 60%);
  border-color: hsl(206deg, 99%, 31%);
}
.toast.success {
  background-color: hsl(122deg, 39%, 60%);
  border-color: hsl(124deg, 55%, 24%);
}
.toast.warning {
  background-color: hsl(39deg, 97%, 70%);
  border-color: hsl(41deg, 100%, 36%);
}
.toast.error {
  background-color: hsl(1deg, 83%, 65%);
  border-color: hsl(0deg, 66%, 47%);
}

.toast.active {
  flex-direction: column;
  height: auto;
  clip: auto;
  border-width: 2px;
  font-size: 1rem;
  width: fit-content;
  padding: 0.25rem 1rem;
  margin-bottom: 0.25rem;
  opacity: 1;
}

*:focus {
  outline: 3px solid var(--outline-color);
}

*:focus:not(:focus-visible) {
  outline: unset;
}

*:focus-visible {
  outline: 3px solid var(--outline-color);
  outline-offset: 0.25rem;
}

.visually-hidden,
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:focus,
.sr-only.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  width: auto;
  white-space: inherit;
}

/*# sourceMappingURL=main.css.map */
