@use '../base/colors' as *;
@use '../base/typography' as *;
@use '../abstracts/variables' as *;

.profile-page {
    .profile-header-section {
        padding: 0;
    }
    #profile-banner {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .profile-header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100px;
    }
    #profile-name {
        font-size: $font-size-4;
        font-weight: 600;
        margin-left: 10rem;
        @media #{$mq-mobile-down} {
            font-size: $font-size-3;
            margin-left: 9rem;
        }
    }
    #profile-avatar {
        position: absolute;
        width: 150px;
        height: 150px;
        margin-left: 2rem;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #fff;

        transform: translateY(-50%);
        @media #{$mq-mobile-down} {
            margin: 0;
        }
    }

    #profile-follow-button {
        height: fit-content;
        border: 2px solid $palette-primary-500;
        background-color: transparent;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.25rem 0.5rem;
        color: $palette-primary-500;
        font-size: $font-size-1;
        margin-left: auto;
        &:hover {
            background-color: $palette-primary-50;
        }
    }

    #edit-profile-button {
        margin-left: auto;
        margin-right: 1rem;
        color: $palette-primary-800;
        font-size: $font-size-1;
        &:hover {
            background-color: $palette-primary-50;
        }
    }

    #add-post-button {
        margin-right: 1rem;
        font-size: $font-size-1;
        background-color: $palette-primary-500;
        color: $palette-primary-50;
    }

    #edit-profile-button,
    #add-post-button {
        border: 2px solid $palette-primary-500;
        padding: 0.25rem 0.5rem;
        border-radius: 1000px;
        min-width: 40px;
        min-height: 40px;
        text-decoration: none;
    }
    section {
        padding-block: 1rem;
    }
}
