@use 'src/scss/abstracts/variables' as *;
@use 'src/scss/abstracts/mixins' as *;
@use 'src/scss/base/colors' as *;
@use 'src/scss/base/typography' as *;

.site-header {
  background-color: $palette-primary-50;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include full-width-container;
  }

  .branding {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    svg {
      height: 150px;
    }
  }

  @media #{$mq-tablet-down} {
    .branding {
      p {
        font-size: $font-size3;
        max-width: 250px;
      }
    }
  }

  @media #{$mq-mobile-down} {
    .branding {
      p {
        font-size: $font-size2;
      }
      svg {
        height: 125px;
      }
    }
  }

  @media #{$mq-mobile-compact} {
    .branding {
      p {
        font-size: $font-size1;
      }
      svg {
        height: 110px;
      }
    }
  }
}
