@use '../abstracts/variables' as *;
@use '../base/colors' as *;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $palette-neutral-100;
}
main {
    flex: 1;
}

section {
    padding-block: 4rem;

    @media #{$mq-tablet-down} {
        padding-block: 2rem;
    }
    @media #{$mq-mobile-down} {
        padding-block: 1rem;
    }

    &.extra-padding {
        padding-block: 6rem;

        @media #{$mq-tablet-down} {
            padding-block: 3rem;
        }
        @media #{$mq-mobile-down} {
            padding-block: 1.5rem;
        }
    }
}
