@use 'src/scss/base/colors' as *;
@use 'src/scss/base/typography' as *;

.card {
  overflow: hidden;
  background-color: $palette-neutral-100;
  display: flex;
  flex-direction: column;

  &:hover picture img {
    transform: scale(1.05);
  }

  picture {
    width: 100%;
    overflow: hidden;

    img,
    source {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      overflow: hidden;
      transition: 0.2s;
    }
  }

  .card-body {
    position: relative;
    padding: 0.5rem 1rem;
    z-index: 1;

    p {
      font-size: $font-size1;
    }
  }

  .category-tags {
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem 0 0.5rem;
  }

  .category-tag {
    cursor: pointer;
    text-decoration: none;
    padding: 0.25em 01em;
    border-radius: 5rem;
    font-size: $font-size-1;
    text-transform: uppercase;
    color: $palette-text-light-primary;
    &.event {
      background-color: $palette-accent-500;
      &:hover {
        background-color: $palette-accent-600;
      }
    }
    &.exhibition {
      background-color: $palette-primary-500;
      &:hover {
        background-color: $palette-primary-600;
      }
    }
  }

  .card-footer {
    margin-top: auto;
    padding: 0.5rem 1rem 1rem;
    text-align: end;

    a {
      color: inherit;
      font-size: $font-size1;
    }
  }
}
