@use '../abstracts/variables' as *;
@use '../base/colors' as *;
@use '../base/typography' as *;

form {
    margin-bottom: 1rem;

    p {
        margin-bottom: 1rem;
    }

    a {
        font-size: $font-size-2;
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    form {
        max-width: 500px;
        margin-inline: auto;
        background-color: $palette-neutral-50;
        padding: 2rem;
    }

    h1 {
        font-size: $font-size-3;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        font-size: $font-size-1;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    button[type='submit'] {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }
    a[href] {
        font-size: $font-size-2;
        text-align: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

label[for] {
    cursor: pointer;
}
