$palette-warning-dark: hsl(41, 100%, 36%);
$palette-warning: hsl(41, 98%, 47%);
$palette-warning-light: hsl(39, 97%, 70%);
$palette-error-dark: hsl(0, 66%, 47%);
$palette-error: hsl(0, 65%, 51%);
$palette-error-light: hsl(1, 83%, 65%);
$palette-info-dark: hsl(206, 99%, 31%);
$palette-info: hsl(201, 98%, 41%);
$palette-info-light: hsl(199, 98%, 60%);
$palette-success-dark: hsl(124, 55%, 24%);
$palette-success: hsl(123, 46%, 34%);
$palette-success-light: hsl(122, 39%, 60%);

$palette-primary-900: hsl(180, 100%, 15%);
$palette-primary-800: hsl(183, 100%, 21%);
$palette-primary-700: hsl(184, 100%, 24%);
$palette-primary-600: hsl(185, 100%, 27%);
$palette-primary-500: hsl(185, 100%, 29%);
$palette-primary-400: hsl(185, 63%, 40%);
$palette-primary-300: hsl(185, 42%, 51%);
$palette-primary-200: hsl(185, 42%, 65%);
$palette-primary-100: hsl(186, 41%, 79%);
$palette-primary-50: hsl(187, 41%, 91%);

$palette-accent-900: hsl(350, 100%, 20%);
$palette-accent-800: hsl(347, 100%, 30%);
$palette-accent-700: hsl(345, 100%, 40%);
$palette-accent-600: hsl(344, 100%, 50%);
$palette-accent-500: hsl(343, 95%, 55%);
$palette-accent-400: hsl(347, 83%, 63%);
$palette-accent-300: hsl(348, 69%, 67%);
$palette-accent-200: hsl(350, 73%, 77%);
$palette-accent-100: hsl(353, 100%, 90%);
$palette-accent-50: hsl(355, 100%, 96%);

$palette-neutral-900: hsl(0, 0%, 13%);
$palette-neutral-800: hsl(0, 0%, 26%);
$palette-neutral-700: hsl(0, 0%, 38%);
$palette-neutral-600: hsl(0, 0%, 46%);
$palette-neutral-500: hsl(0, 0%, 62%);
$palette-neutral-400: hsl(0, 0%, 74%);
$palette-neutral-300: hsl(0, 0%, 88%);
$palette-neutral-200: hsl(0, 0%, 93%);
$palette-neutral-100: hsl(0, 0%, 96%);
$palette-neutral-50: hsl(0, 0%, 98%);
$palette-neutral-0: hsl(0, 0%, 100%);

$palette-text-primary: hsla(0, 0%, 0%, 0.87);
$palette-text-secondary: hsla(0, 0%, 0%, 0.6);
$palette-text-disabled: hsla(0, 0%, 0%, 0.38);

$palette-text-light-primary: hsla(0, 0%, 100%, 1);
$palette-text-light-secondary: hsla(0, 0%, 100%, 0.7);
$palette-text-light-disabled: hsla(0, 0%, 100%, 0.5);

$overlay-dark: hsla(0, 0%, 0%, 0.25);
$overlay-medium-dark: hsla(0, 0%, 0%, 0.15);
$overlay-light: hsla(0, 0%, 100%, 0.25);
$overlay-medium-light: hsla(0, 0%, 100%, 0.15);
$transparent: hsla(0, 0%, 0%, 0);
